<form action="/question" method="POST">
	<input type="radio" id="option_1" name="color_choice" value="option_1">
	<label><%= @question1 %></label><br>
	<input type="radio" id="option_1" name="color_choice" value="option_1">
	<label><%= @question2 %></label><br>
	<input type="radio" id="option_1" name="color_choice" value="option_1">
	<label><%= @question3 %></label><br>
	<input type="radio" id="option_1" name="color_choice" value="option_1">
	<label><%= @question4 %></label><br><br>
	<input type="submit" value="Guess">
</form>