<h1>Play Color Trivia</h1>
<div id="message">
</div>
<button id="roll_button" onclick="color_roll()">Color Roll</button><br><br>
<div id="color_box">
</div><br><br>		
<div id="button_box">
	<form id="color_form" method="post" target="frame">
</form>
</div><br><br>		
<div id="question_box">
</div>
<script src="/script.js" type="text/javascript">
</script>
<iframe id="frame" name="frame"></iframe>



