body{
	width: 1000px;
    margin: 0 auto;
}
#color_box{
	width: 400px;
	height: 400px;
	background-color: white;
}
#frame{
	display: none;
}
#score_box{
	/*border: 3px solid black;*/
	height: 300px;
	width: 100px;
	position: relative;
	display: inline-block;
	left: 400px;
}
li{
	list-style-type: none;
}
#play_again{
	position: inline;
	left: 200px;
}
#color_input{
	display:none;
}
#value_input{
	display:none;
}
#text{
	font-size: 300px;
}